:root {
    --black: #000000;
    --gray-blue: #6C727F;
    --light-gray: #D9D9D9;
    --off-white: #F8FAFC;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--off-white);
    font-size: 16px;
}

.listing {
    margin: 0 auto;
}

.listing__title {
    text-align: center;
    margin-top: 42px;
    margin-bottom: 42px;
    font-size: 2.25rem;
    font-weight: 600px;
}

.listing__container-separator {
    text-align: center;
}

.listing-container {
    width: 90%;
    margin: auto;
    margin-top: 42px;
}

.border {
    border: #000000 solid 1px;
}

@media only screen and (min-width: 992px) {
    
    .listing {
        width: 66.6%;
    }

    .listing__title {
        width: 600px;
        margin: auto;
        margin-top: 42px;
        margin-bottom: 42px;
    }
}